<h1 class='name name_margin' style='padding-top:8%;color:#FFFFCC'>Luis</h1>
<h1 class='name name_margin' style='color:#00FFFF'>Perez</h1>
<br><br>
<h4 class='name_margin'>
	Mercedes-Benz technician turned Web Developer.
</h4>
<div class='row'>
	<div class='pull-right' style='padding-top:14%;padding-bottom:2%;'>
			<%= link_to (image_tag image_path('webicon-twitter.svg'), :size => '38x38'), 'https://www.twitter.com/lperez308', :target => 'blank', :title => 'Luis\'s Twitter', :style => 'padding-right:8px;' %>
			<%= link_to (image_tag image_path('webicon-facebook.svg'), :size => '38x38'), 'https://www.facebook.com/luis.f.perez.520', :target => 'blank', :title => 'Luis\'s Facebook', :style => 'padding-right:8px;' %>
			<%= link_to (image_tag image_path('webicon-github.svg'), :size => '38x38'), 'https://www.github.com/lperez111', :target => 'blank', :title => 'Luis\'s Github', :style => 'padding-right:8px;' %>
			<%= link_to (image_tag image_path('webicon-linkedin.svg'), :size => '38x38'), 'http://lnkd.in/buzA95F', :target => 'blank', :title => 'Luis\'s LinkedIn', :style => 'padding-right:8px;' %>
	</div>
</div>